.pokeShowContainer {
    /* background-image: url(https://i.redd.it/6rfofno9nb811.png);
    background-repeat: no-repeat; */
    background: url(https://i.redd.it/6rfofno9nb811.png) center center / cover no-repeat fixed;
    height: 100vh
}