.pokeShowContainer {
    background: url(https://i.redd.it/6rfofno9nb811.png) center center / cover no-repeat fixed;
    height: 100vh
}

.pokeImg {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 20%;
    left: 15%;
}

.pokeName{
    position: absolute;
    height: 100px;
    width: 300px;
    top: 2%;
    right: 22%;
    font-size: 40px;
    color: white;
}

.pokeType {
    position: absolute;
    height: 100px;
    width: 500px;
    top: 16%;
    right: 22%;
    font-size: 40px;
}

